<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Public</title>
    <link rel="stylesheet" href="/css/master.css">

  </head>
  <body>
    <header id="publichead">
      <a href="index">
      <img src="https://d1mfwzl1v92qfh.cloudfront.net/articles/good-grade.jpg" alt="" class="logo">
      <br>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Chain_link_icon.png" alt="" class="logo">
      </a>
    </header>
    {{#each grades}}

    <section class="assignment">
      <p id="assignmentName">Assignment name: {{assignmentName}}</p>
      <p id="studentName">Student name: {{studentName}}</p>
      <p id="score">Score: {{score}}</p>
      <p id="assignmentWorth">Assignment Worth:{{assignmentWorth}}</p>
      <br>
      <form action="/teacher/{{grade.id}}?_method=DELETE" method="post" >
      <button type="submit" name="button" class="del-but">Delete this assignment</button>
      </form>
    </section>




    {{/each}}

      <!-- <a href="logout">logout</a> -->
      <!-- <a href="register">Register</a>
      <a href="login">login</a> -->
      <br>
      <br>
    <a href="teacher" class="add-another">Add another assignment</a>
  </body>
</html>
