<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>this is public view</p>
    <!-- {{#each errorMessages}}

    <p style= "color:red">{{message}}</p>

    {{/each}}
    {{#each successMessage}}
    <p style= "color:lightgreen">{{message}}</p>
    {{/each}} -->
    {{#each grades}}

    <section class="assignment">
      <p id="assignmentName">Assignment name: {{assignmentName}}</p>
      <p id="studentName">Student name: {{studentName}}</p>
      <p id="score">Score: {{score}}</p>
      <p id="assignmentWorth">Assignment Worth:{{assignmentWorth}}</p>
      <br>
    </section>
    <!-- <form id="delete" action="/score/{{score.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete this Score">
    </form> -->


    {{/each}}

    <a href="teacher">Add another assignment</a>
  </body>
</html>
